@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

@(Html.Kendo().DatePicker().Name("datepicker"))

<h3>UI for ASP.NET MVC PanelBar</h3>
<br />
<ul id="panelbar">
    <li class="k-state-active">
        <span class="k-link k-state-selected">Getting Started</span>
        <div style="padding: 10px;">
            <p style="padding:0 1em">
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and that gives you full control over markup
                for enjoyable, agile development. ASP.NET MVC includes many features that enable
                fast, TDD-friendly development for creating sophisticated applications that use
                the latest web standards.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
            </p>
        </div>
    </li>
    <li>
        Add NuGet packages and jump-start your coding
        <div>
            <p style="padding:0 1em">
                NuGet makes it easy to install and update free libraries and tools.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
            </p>
        </div>
    </li>
    <li>
        Find Web Hosting
        <div>
            <p style="padding:0 1em">
                You can easily find a web hosting company that offers the right mix of features
                and price for your applications.
                <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
            </p>
        </div>
    </li>
</ul>

<button class="c-button c-button--purple" type="button">
    <div class="c-ripple js-ripple">
        <span class="c-ripple__circle"></span>
    </div>
    Material Design Ripple Effect
</button>

<div class="c-button c-button--purple">
    <div class="c-ripple js-ripple">
        <span class="c-ripple__circle"></span>
    </div>
    wo shi ni baba
</div>

<script>
    $(function () {
        $("#panelbar").kendoPanelBar();
    });
</script>

